.pp-table{
  .ng-star-inserted{
    .ant-switch-checked{
      background:#6FEC6F !important;
    }
    span[checked]{
     color:#666;
    }
    span[unchecked]{
      color:#666;
    }
  }
}



